<!DOCTYPE html>
<html lang="en">
<%- include('header/head') %>
<body>
    <div id="backdrop"></div>
    <header id="main-header">
        <h1>Play Tic, Tac, Toe</h1>
        <p>Built with HTML, CSS, JavaScript and - of course - lots of love!</p>
    </header>
    <main>
        <aside class="modal" id="config-overlay">
            <h2>Choose your name</h2>
            <form action="/name" method="post">
                <div class="form-control">
                    <label for="playername">Player Name</label>
                    <input type="text" name="playername" id="playername" required>
                </div>
                <div>
                    <button type="button" class="btn btn-alt" id="cancel">Cancel</button>
                    <button type="submit" class="btn" id="confirm">Confirm</button>
                </div>
                <!-- <button type="submit" class="btn btn-alt">Submit</button> -->
            </form>
        </aside>
        <aside id = "sides">
            <h2>Who will go first?</h2>
            <span id = "first-play">O</span>
            <div id = "decide-div">
                <button id = "close" class="btn btn-alt">Close</button>
                <button id="decide" class="btn">Decide</button>
            </div>
        </aside>
        <section id="game-configuration">
            <ol>
                <li>
                    <article>
                        <h2>Player 1</h2>
                        <h3 id="wgb1">PLAYER NAME</h3>
                        <p class="player-symbol"><span>X</span></p>
                        <button type="button" class="btn-alt" id="forp1">Edit</button>
                    </article>
                </li>
                <li>
                    <article>
                        <h2>Player 2</h2>
                        <h3 id="wgb2">PLAYER NAME</h3>
                        <p class="player-symbol">0</p>
                        <button type="button" class="btn-alt" id="forp2">Edit</button>
                    </article>
                </li>
            </ol>
            <button class="btn" id="start">Start New Game</button>
        </section>
        <section id="active-game">
            <article id="win_modal">
                <h3>You won! <span id="wnner-name">PLAYER NAME</span></h3>
                <form action="/result" method="post">
                    <input type="hidden" id="matchid" name="matchid" value="">
                    <input type="hidden" id="resultX" name="score" value="">
                    <input type="hidden" id="p1" name="name1" value="">
                    <input type="hidden" id="p2" name="name2" value="">
                    <button type="submit" class="btn btn-alt" id="result-btn">Submit</button>
                </form>
                <button class="btn" id="start2">Start New Game</button>
            </article>
            <div id="gridover">
                <ul>
                    <li><button id="1" class="input-turn">X</button></li>
                    <li><button id="2" class="input-turn">X</button></li>
                    <li><button id="3" class="input-turn">X</button></li>

                    <li><button id="4" class="input-turn">X</button></li>
                    <li><button id="5" class="input-turn">X</button></li>
                    <li><button id="6" class="input-turn">X</button></li>

                    <li><button id="7" class="input-turn">X</button></li>
                    <li><button id="8" class="input-turn">X</button></li>
                    <li><button id="9" class="input-turn">X</button></li>
                </ul>
            </div>
            <div id="score">
                <a href="/scores">View Scores</a>
            </div>
        </section>
    </main>
</body>

</html>