body{
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
    color: rgb(44, 41, 44);
    background-color: rgb(247, 239, 247);
}

#main-header{
    background-color: rgb(140,0,255);
    color: white;
    padding: 2rem 5%;
    text-align: center;
}

.btn{
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgb(140,0,255);
    border: 1px solid rgb(140,0,255);
    color: white;
    cursor: pointer;
}

/* #config-overlay button{
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgb(140,0,255);
    border: 1px solid rgb(140,0,255);
    color: white;
    cursor: pointer;
} */

.btn-alt{
    background-color: transparent;
    border-color: transparent;
    color: rgb(140,0,255);
}

.btn:hover{
    background-color: rgb(79,10,190);
    border-color: rgb(79,10,190);
}

.btn-alt:hover{
    background-color: rgb(245, 232, 255);
    border-color: transparent;
}

#active-game ul{
    list-style: none;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 25%;
}

#active-game li button{
    list-style: none;
    background-color: rgb(132, 180, 238);
    padding: 0;
    height: 90px;
    width: 90px;
    margin: 10px 0px;
    font-family: 'Staatliches';
    font-size: 4.7rem;
    font-weight: lighter;
    color: rgb(47,4,82);
}

#score a{
    text-decoration: none;
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgb(140,0,255);
    border: 1px solid rgb(140,0,255);
    color: white;
    cursor: pointer;
}

#score{
    display: block;
    text-align: center;
}
#score a:hover{
    background-color: rgb(79,10,190);
    border-color: rgb(79,10,190);
}